<div class="container">  
    <div class="row row-content">
    	<h3>Register New Club Official</h3>
        <form ng-submit="createCompetition()">
            <div class="form-group">
                <label class="sr-only" for="date">Date</label>
                <input type="date" class="form-control input-sm" id="date" placeholder="Date" ng-model="competition.date" ng-required="true">
            </div>
            <div class="form-group">
            	<label class="sr-only" for="ageGroup">Age Group</label>
                <select name="ageGroup" class="form-control input-sm" id="ageGroup" placeholder="Age Group" ng-model="registration.ageGroup" ng-required="true" ng-options="validAgeGroup for validAgeGroup in validAgeGroups" ng-click="getEventsForAgeGroup(registration.ageGroup)">
                <option value="">-- Age Group --</option>
                </select> 
                <br>
                <label for="events">Events</label>
                <select multiple name="events" class="form-control input-sm" id="events" placeholder="Events" ng-model="competitions.events" ng-options="event.name for event in events">
                </select>
            </div>
            <button type="submit" class="btn btn-info btn-sm">Create</button>
        </form>
    </div>
</div>