<div class="container">  
    <div class="row row-content">
        <div class="col-xs-12">
            <h3>Register or Edit Users</h3>
            <ul>
                <li><a ui-sref="app.registerClubOfficial">New Club Official</a></li>
                <li><a ui-sref="app.registerAgeManager">New Age Manager</a></li>
                <li><a ui-sref="app.registerParent">New Parent</a></li>
                <li><a ui-sref="app.registerAthlete">New Athlete</a></li>
                <li><a ui-sref="app.registerEdit">Edit Existing User</a></li>
            </ul>
        </div>
    </div>
</div>
